keras >= 2.4.3
tensorflow == 2.4.0
tensorboard
matplotlib == 3.3.2
pandas == 1.1.2
jupyter
jupyterlab
opencv-python == 4.4.0.44
tqdm == 4.50.0
scikit-image == 0.17.2
networkx
kafka-python
Flask
pathlib
argparse
open3d
nptyping
torch===1.7.1 -f https://download.pytorch.org/whl/torch_stable.html
torchvision===0.8.2 -f https://download.pytorch.org/whl/torch_stable.html
torchaudio===0.7.2 -f https://download.pytorch.org/whl/torch_stable.html

